<form>
  <div class="col-xs-12">
    <label for="">
    Nombre:
    </label>
      <input type="text" placeholder="Name" ng-model="vm.item.name">
  </div>
  <div class="col-xs-12">
    <label for="">
    Apellido:
    </label>
      <input type="text" placeholder="LastName" ng-model="vm.item.lastname">
  </div>
  <div class="col-xs-12">
    <label for="">
    Telefono:
    </label>
      <input type="text" placeholder="Phone" ng-model="vm.item.phone">
  </div>
  <div class="col-xs-12">
    <label for="">
    Email:
    </label>
      <input type="email" placeholder="mail" ng-model="vm.item.email">
  </div>
  <div class="col-xs-12">
    <label for="">
    Password:
    </label>
      <input type="password" placeholder="password" ng-model="vm.item.password">
  </div>
  <div class="col-xs-12">
    <label for="">
    Fecha de nacimiento:
    </label>
      <input type="date" placeholder="fecha de nacimiento" ng-model="vm.item.birth_date">
  </div>
</form>
